@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto';
    background: #202124;
    color: #E8EAED;
    
}

.search-icon, .reload-icon, .help-circle-icon, .chevron-down-icon, .chevron-up-icon, .circle-minus-icon {
    filter: invert(85%) sepia(13%) saturate(39%) hue-rotate(171deg) brightness(111%) contrast(89%);
}

::-webkit-scrollbar {
    width: 5px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #9aa0a6;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #383636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}